body{
    font-family: Arial, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.wrapper-container{
    margin-bottom: 80px;
}
input,select{
    border-radius: 0px !important;
}
.v-spinner {
    width: 100%;
    height: 100vh;
    position: fixed;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    text-align: center;
    line-height: 100vh;
    z-index: 99999999999;
    background-color: rgba(237, 237, 237,0.4);
}
.v-pulse{
    background-color: #0070c0 !important;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand{
    color: #0070c0;
}
.navbar h1{
    font-size: 1.25rem;
}
.bg-light {
    padding: 0px;
    padding-left: 0px;
    padding-left: 10px;
    border-bottom: #0070c0 3px solid;
    background-color: #fff !important;
}
.navbar-light .navbar-toggler {
    color: #595959;
    border-color: #d4d4d4;
    border-radius: 0px;
}
#navbarRightContent{
    min-width: 130px;
    position: absolute;
    right: 0px;
    top: 43px;
}
#navbarRightContent .list-group .list-group-item:first-child{
    border-top: 0px;
}
#navbarRightContent .list-group .list-group-item {
    position: relative;
    display: block;
    padding: 0px;
    margin-bottom: -1px;
    background-color: #f2f2f2;
    border: 1px solid #595959;
    border-radius: 0px;
}
#navbarRightContent .list-group .list-group-item a{
    display: block;
    padding: .75rem 1.25rem;
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.navbar-toggler-left{
    position: absolute;
    top: 42px;
    left: 0px;
    min-width: 140px;
    border: 1px solid #0070c0;
    background-color: #0070c0;
    color: #ffffff;
    padding: 0px;
    padding-bottom: 4px;
    font-size: 13px;
}

#sidebar{
    position: absolute;
    top: 67px;
    left: 0px;
    min-width: 140px;
    overflow: hidden;
    z-index: 3;
}

#sidebar .list-group {
    background-color: #f2f2f2;
    min-height: 80vh;
}
#sidebar i {
    margin-right: 6px;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #f2f2f2;
    color: #000000;
    border-top: 0;
    border-color: #595959;
    white-space: nowrap;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 0px;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #f2f2f2;
}

/* closed state */
#sidebar .list-group-item[aria-expanded="false"]::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    float: right;
}

/* open state */
#sidebar .list-group-item[aria-expanded="true"] {
    background-color: #f2f2f2;
}
#sidebar .list-group-item[aria-expanded="true"]::after {
    content: " \f0d8";
    font-family: FontAwesome;
    display: inline;
    float: right;
}

/* level 1*/
#sidebar .collapse .list-group-item,
#sidebar .collapsing .list-group-item  {
    padding-left: 20px;
}

/* level 2*/
#sidebar .collapse > .collapse .list-group-item,
#sidebar .collapse > .collapsing .list-group-item {
    padding-left: 30px;
}

/* level 3*/
#sidebar .collapse > .collapse > .collapse .list-group-item {
    padding-left: 40px;
}

.collapse.show {
    visibility: visible;
}
.collapsing {
    visibility: visible;
    height: 0;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: 100%;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.container{
    margin-top: 30px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
}
.btn{
    border-radius: 0px;
    font-weight: 500;
    font-size: 15px;
}

.btn-black {
    color: #fff;
    background-color: #000000;
    color: #ffffff;
}

.btn-black:hover {
    color: #fff;
    background-color: #171717;
    color: #ffffff;
}

.btn-yellow {
    color: #fff;
    background-color: #ffd966;
    color: #000000;
}

.btn-yellow:hover {
    color: #fff;
    background-color: #ffcc6c;
    color: #000000;
}

.btn-primary{
    background-color: #0070c0;
}

.btn-submit{
    min-width: 150px;
}
.sub-header{
    background-color: #99ccff;
    width: 100%;
    min-height: 80px;
    padding: 10px;
}
.sub-header-line-two{
    align-items: center;
    text-align: center;
}
/*Form*/
.row{
    margin: 0px !important;
    padding: 0px !important;
}
.grid-form{
    border: 1px solid;
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px 10px 0px;
}
.margin-form-child{
    margin: 10px 0px 20px 20px!important;
    padding-left:0px!important;
    padding-right: 0px!important;
}
.grid-col > label {
    background-color: #0070c0;
    color: white;
    justify-content: left;
}
.grid-col > label.required:before{
    content: '*';
    position: absolute;
    left: -12px;
    color: red;
    font-weight: bolder;
    font-size: 15px;
}
.grid-col > .wrap-control{
    padding: 0px;
}
.grid-col > .wrap-control > input{
    border-radius: 0px;
    width: 100%;
}
.grid-col > .wrap-control > select{
    border-radius: 0px;
}
.grid-col{
    padding-left: 20px !important;
}
.break-row-form{
    width: 100%;
    clear: both;
    height: 10px;
}
.wrap-control-group{
    padding-left: 170px;
    position: relative;
}
.wrap-control-group label{
    position: absolute;
    left: 0px;
    line-height: 38px;
    background-color: #0070c0;
    color: white;
    justify-content: left;
    width: 170px;
    padding-left: 10px;
}
.wrap-control-group > label.required:before{
    content: '*';
    position: absolute;
    left: -10px;
    color: red;
    font-weight: bolder;
    font-size: 15px;
}
.wrap-control-group input,.wrap-control-group select{
    width: 100% !important;
    height: 38px;
    line-height: 38px;
}

.mx-datepicker{
    width: 100% !important;
}
.pd-r-20{
    padding-left: 0px !important;
    padding-right: 20px !important;
}
.pd-l-20{
    padding-right: 0px !important;
    padding-left: 20px !important;
}
.pd-r-0{
    padding-right: 0px !important;
}
.padding-row-5{
    padding-left: 5px;
    padding-right: 5px;
}
.p-t-30{
    padding-top: 30px;
}

.frm-search-list .grid-form-search-label{
    position: absolute;
    top: -20px;
    left: 5px;
    font-size: 0.7rem;
}

.frm-search-list .input-group-addon {
    display: flex;
    margin-left: -2px;
}
.frm-search-list .dropdown-list{
    border-radius:0px!important;
}

.col-list-search-f{
    line-height: 38px;
}

.lh-38{
    line-height: 38px;
}
.wrapper-table{
    display: block;
    width: 100%;
    margin-top: 20px;
}

.table-green th{
    background-color: #548235;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
    border: #a6a6a6 1px solid;
}

.table-green td{
    vertical-align: middle;
}
.xsmall {
    font-size: 65%;
    font-weight: 300;
    opacity: .78;
}
.cd-link {
    font-weight: bold;
    text-decoration: underline;
}
.wd-100{
    width: 100px !important;
}

.wd-150{
    width: 150px !important;
}

.wd-300{
    width: 300px !important;
}
.wd-250{
    width: 250px !important;
}
.wd-350{
    width: 350px !important;
}
.pagination-custom{
    padding: 0px;
}
.pagination-custom li:last-child{
    border:0px;
}
.pagination-custom li.active a{
    color: #a6a6a6 !important;
}
.pagination-custom li.active a:hover{
    text-decoration: none;
}
.pagination-custom li{
    float: left;
    color: #0070c0 !important;
    border-right: 1px solid #000000;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 15px;
}

