body{
    font-family: Arial, "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand{
    color: #0070c0;
}
.navbar h1{
    font-size: 1.25rem;
}
.bg-light {
    padding: 0px;
    padding-left: 0px;
    padding-left: 10px;
    border-bottom: #0070c0 3px solid;
    background-color: #fff !important;
}
.navbar-light .navbar-toggler {
    color: #595959;
    border-color: #d4d4d4;
    border-radius: 0px;
}
#navbarRightContent{
    min-width: 130px;
    position: absolute;
    right: 0px;
    top: 43px;
}
#navbarRightContent .list-group .list-group-item:first-child{
    border-top: 0px;
}
#navbarRightContent .list-group .list-group-item {
    position: relative;
    display: block;
    padding: 0px;
    margin-bottom: -1px;
    background-color: #f2f2f2;
    border: 1px solid #595959;
    border-radius: 0px;
}
#navbarRightContent .list-group .list-group-item a{
    display: block;
    padding: .75rem 1.25rem;
    color: black;
    font-size: 15px;
    text-decoration: none;
}

.navbar-toggler-left{
    position: absolute;
    top: 42px;
    left: 0px;
    min-width: 140px;
    border: 1px solid #0070c0;
    background-color: #0070c0;
    color: #ffffff;
    padding: 0px;
    padding-bottom: 4px;
    font-size: 13px;
}

#sidebar{
    position: absolute;
    top: 67px;
    left: 0px;
    min-width: 140px;
    overflow: hidden;
    z-index: 3;
}

#sidebar .list-group {
    background-color: #f2f2f2;
    min-height: 80vh;
}
#sidebar i {
    margin-right: 6px;
}

#sidebar .list-group-item {
    border-radius: 0;
    background-color: #f2f2f2;
    color: #000000;
    border-top: 0;
    border-color: #595959;
    white-space: nowrap;
    padding: 10px;
    text-decoration: none;
    margin-bottom: 0px;
}

/* highlight active menu */
#sidebar .list-group-item:not(.collapsed) {
    background-color: #f2f2f2;
}

/* closed state */
#sidebar .list-group-item[aria-expanded="false"]::after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    float: right;
}

/* open state */
#sidebar .list-group-item[aria-expanded="true"] {
    background-color: #f2f2f2;
}
#sidebar .list-group-item[aria-expanded="true"]::after {
    content: " \f0d8";
    font-family: FontAwesome;
    display: inline;
    float: right;
}

/* level 1*/
#sidebar .collapse .list-group-item,
#sidebar .collapsing .list-group-item  {
    padding-left: 20px;
}

/* level 2*/
#sidebar .collapse > .collapse .list-group-item,
#sidebar .collapse > .collapsing .list-group-item {
    padding-left: 30px;
}

/* level 3*/
#sidebar .collapse > .collapse > .collapse .list-group-item {
    padding-left: 40px;
}

.collapse.show {
    visibility: visible;
}
.collapsing {
    visibility: visible;
    height: 0;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.collapsing.width {
    -webkit-transition-property: width, visibility;
    transition-property: width, visibility;
    width: 0;
    height: 100%;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.container{
    margin-top: 30px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
}
.btn{
    border-radius: 0px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: 500;
    font-size: 13px;
}

.btn-black {
    color: #fff;
    background-color: #000000;
    color: #ffffff;
}

.btn-black:hover {
    color: #fff;
    background-color: #171717;
    color: #ffffff;
}

.btn-primary{
    background-color: #0070c0;
}
.btn-submit{
    min-width: 150px;
}
.sub-header{
    background-color: #99ccff;
    width: 100%;
    min-height: 80px;
    padding: 10px;
}
.sub-header-line-two{
    align-items: center;
    text-align: center;
}
/*Form*/
.row{
    margin: 0px !important;
    padding: 0px !important;
}
.grid-form{
    border: 1px solid;
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px 10px 0px;
}
.grid-col > label {
    background-color: #0070c0;
    color: white;
    justify-content: left;
}
.grid-col > label.required:before{
    content: '*';
    position: absolute;
    left: -12px;
    color: red;
    font-weight: bolder;
    font-size: 15px;
}
.grid-col > .wrap-control{
    padding: 0px;
}
.grid-col > .wrap-control > input{
    border-radius: 0px;
    width: 100%;
}
.grid-col{
    padding-left: 20px !important;
}
.break-row-form{
    width: 100%;
    clear: both;
    height: 10px;
}
