.search-content thead{
    background-color: #0070C0;
    color: #ffffff;
    cursor: pointer;
}
.search-content thead .sort-asc:after {
    content: " \f0d8";
    font-family: FontAwesome;
    display: inline;
    float: right;
}
.search-content thead .sort-desc:after {
    content: " \f0d7";
    font-family: FontAwesome;
    display: inline;
    float: right;
}
.search-content td {
    vertical-align: middle;
}
.search-content th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.search-content tbody .flex-column .small-size {
    font-size:10px;
}