.title-sm {
    font-size: 0.7rem;
}
.search-content thead{
    background-color: #0070C0;
    color: #ffffff;
}
.search-content td {
    vertical-align: middle;
}
.search-content th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.supplier-link {
    font-weight: bold;
    text-decoration: underline;
}
.xsmall {
    font-size: 65%;
    font-weight: 300;
    opacity: .78;
}
.input-group-addon {
    display: flex;
    margin-left: -2px;
}