.search-content thead{
    background-color: #0070C0;
    color: #ffffff;
}
.search-content td {
    vertical-align: middle;
}
.search-content th {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}
.search-content tbody p {
    position: absolute;
    top: 340px;
    font-size:11px;
}