.input-group-addon {
    display: flex;
    margin-left: -1px;
}
.input-group-addon > span{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    display: flex;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #D9D9D9;
    opacity: 1;
}